pin-depends: [
  [ "irmin.dev"       "git+https://github.com/art-w/irmin#mirage-io" ]
  [ "irmin-pack.dev"  "git+https://github.com/art-w/irmin#mirage-io" ]
  [ "ppx_irmin.dev"   "git+https://github.com/art-w/irmin#mirage-io" ]
]
